footer.d-flex.flex-column.align-items-center.container-fluid
  .footer__snsLink.d-flex.justify-content-between.py-3
    a.d-flex.py-3.text-white.rounded-sm(href=blogger.snsLink.youtube target='_blank')
      span.icon--size.icon__youtube--white.mx-4
    a.d-flex.py-3.text-white.rounded-sm(href=blogger.snsLink.facebook target='_blank')
      span.icon--size.icon__facebook--white.mx-4
    a.d-flex.py-3.text-white.rounded-sm(href=blogger.snsLink.instagram target='_blank')
      span.icon--size.icon__instagram--white.mx-4
    a.d-flex.py-3.text-white.rounded-sm(href=blogger.snsLink.linkedin target='_blank')
      span.icon--size.icon__linkedin--white.mx-4
  .footer__copyright.d-flex.justify-content-center.py-4
    a.text-white(href='/' title=blogger.author) ©
      | 
      =moment().format('YYYY')
      | 
      =blogger.author