header.navbar.navbar-light
  .header
    button.navbar-toggler.border-0(type='button' on='tap:sidebar')
      span.navbar__toggler__icon.icon__hamburger--black
    .d-flex.justify-content-center
      a.navbar-brand.d-flex.px-4(href='/' title=blogger.author)
        amp-img(src='/icon/favicon.svg' alt=blogger.author width='30' height='30' layout='fixed')
    button.navbar-toggler.border-0(type='button' on='tap:search-lightbox')
      span.navbar__toggler__icon.icon__search--black
amp-sidebar.modal(id='sidebar' layout='nodisplay' side='left')
  .header
    button.navbar-toggler.border-0(type='button' on='tap:sidebar.close')
      span.navbar__toggler__icon.icon__close--gray
  .modal__input
    ul.navbar-nav.mb-4
      li.nav-item
        a.nav-link.d-flex.align-items-center(href='/about-me' rel='author')
          span.navbar__icon.icon__aboutme--black.mx-4
          span 關於
      li.nav-item
        a.nav-link.d-flex.align-items-center(href='/categories')
          span.navbar__icon.icon__categories--black.mx-4
          span 主題
      li.nav-item
        a.nav-link.d-flex.align-items-center(href='/donate')
          span.navbar__icon.icon__donate--black.mx-4
          span 贊助
    .promote.p-4
      a.d-block(href='/')
        amp-img.rounded-lg(src='/carousel/carousel-2_20210407.jpg' width='2160' height='1080' layout='responsive')
amp-lightbox.dialog(id='search-lightbox' layout='nodisplay')
  .header
    button.navbar-toggler.border-0(type='button' on='tap:search-lightbox.close')
      span.navbar__toggler__icon.icon__close--gray
  .dialog__search
    amp-script(layout='container' src=blogger.domain+'algolia_20210508.js')
      form.py-3.px-4(action='/search' target='_top')
        input#form__search.form-control.py-0(type='search' name='query' placeholder='找找看...' autocomplete='off' value='')
      #search__result
    .dialog__categories.px-4
      span.d-block.font-weight-bold.mb-3 主題
      -for(categoriesDoc in categories)
        a.d-flex.align-items-center.rounded-lg.p-3.my-3(href='/categories/' + categories[categoriesDoc].path)
          amp-img.rounded-circle(src=categories[categoriesDoc].thumbnail||blogger.othersThumbnail alt=categories[categoriesDoc].name width='30' height='30' layout='fixed')
          h5.h6.mb-0.ml-3=categories[categoriesDoc].name
      a.d-flex.align-items-center.rounded-lg.p-3.my-3(href='/categories/others')
        amp-img.rounded-circle(src=blogger.othersThumbnail alt='其他' width='30' height='30' layout='fixed')
        h5.h6.mb-0.ml-3 其他
